# django
**/venv

# since we want to show images present in the client folder, we specifically gitignore images in server folder only
**/server/media

**/__pycache__

.env

# react items
**/node_modules

**/.eslintcache